<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_URI} !/public
    RewriteRule ^(.*)$ public/$1
</IfModule>

<Directory /var/www/html />
Options Indexes FollowSymLinks
AllowOverride all
Require all granted
</Directory>